.card {
  border: 1px solid var(--line);
  border-radius: 4px;
  overflow: hidden;
  width: 300px;
}

.card-cover img {
  width: 100%;
  display: block;
  height: auto;
}

.card-meta {
  display: flex;
  padding: 16px;
}
.meta-avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 16px;
}
.meta-content {
  display: flex;
  flex-direction: unset;
  justify-content: left;
  // height:84px;
  margin-left: 1.2rem;
}
.meta-title {
  font-size: 16px;
  font-weight: bold;
}
.meta-description {
  font-size: 14px;
  color: var(--line);
}

.verticalStyle {
  display: inline-flex;
  flex-direction: column;
}

.horizontalReverseStyle   {
  display: flex;
}

.horizontalReverseStyle {
  display: flex;
  flex-direction: row-reverse;
}

.VariantGroup{
  display: inline-flex;
  flex-direction: column;
  & > *:not(:first-child) {
    margin-top: 20px;
  }
}

.Actions {
  padding: 16px 16px 4px 16px;
  color: var(--line);
  & > svg {
    cursor: pointer;
  }
  & > *:not(:first-child) {
    margin-left: 20px;
  }
}
