<div
      class="switch-button"
      [style]="{ 'width.px': switchWidth, 'background-color': switchColor, 'border-color': switchColor }"
      (click)="isDisabled ? null : toggleSwitch()"
    >
      <div class="thumb" [style]="{ 'left.px': isChecked ? switchWidth - thumbSize : 0 }"></div>
      <div class="label" [style]="{ 'padding.px': thumbSize / 3 }">
        <span *ngIf="isChecked">{{ checkedChildren }}</span>
        <span *ngIf="!isChecked">{{ unCheckedChildren }}</span>
      </div>
    </div>
