<div class="new-container">
        <input type="radio" name="new-radio" class="new-radioInput" id="new-one" checked hidden />
        <input type="radio" name="new-radio" class="new-radioInput" id="new-two" hidden />
        <input type="radio" name="new-radio" class="new-radioInput" id="new-three" hidden />

        <div class="new-tabHeader-container">
            <label for="new-one" class="new-tabHeader">One</label>
            <label for="new-two" class="new-tabHeader">Two</label>
            <label for="new-three" class="new-tabHeader">Three</label>
        </div>

        <span class="new-activeTab-indicator"></span>
        <div class="new-tabContent-container">
            <div class="new-tabContent new-one-content">
                <h1>hello1</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia dolor reprehenderit id dicta modiaspernatur possimus optio. Quibusdam similique, ullam consequuntur magniiusto veniam iste obcaecatieum autem, accusantium dicta.</p>
            </div>

            <div class="new-tabContent new-two-content">
                <h1>hello 2</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia dolor reprehenderit id dicta modiaspernatur possimus optio. Quibusdam similique, ullam consequuntur magniiusto veniam iste obcaecatieum autem, accusantium dicta.</p>
            </div>

            <div class="new-tabContent new-three-content">
                <h1>hello 3</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia dolor reprehenderit id dicta modiaspernatur possimus optio. Quibusdam similique, ullam consequuntur magniiusto veniam iste obcaecatieum autem, accusantium dicta.</p>
            </div>
        </div>
    </div>
